# Ambientes Virtuais (Python)
.venv/
venv/
env/
bin/
lib/
include/

# Configurações Sensíveis do Streamlit (CRÍTICO)
.streamlit/secrets.toml
.streamlit/config.toml

# Banco de Dados Local
*.db
*.sqlite3

# Arquivos de Sistema e IDE
.vscode/
.idea/
__pycache__/
*.py[cod]
.DS_Store

# Relatórios e Exports temporários
*.csv
*.xlsx